*{
    margin: 0;
    padding: 0;
}

/*可选列表样式*/
.optionalList{
    width: 300px;
    height: 510px;
    position: fixed;
    right: 0;
    bottom:10%;
}
.optionalList .title-panel{
    width: 100%;
    height: 50px;
    background: #6C9DDB;
}
.optionalList .title-panel p{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    line-height: 50px;
    font-size: 18px;
}
.optionalList .list-panel li{
    list-style: none;
    background: #fff;
    width: 100%;
    height: 40px;
    display: flex;
    user-select: none;
}
.optionalList .list-panel li img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.optionalList .list-panel li p{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    line-height: 40px;
    color: black;
    cursor:pointer;
    font-size: 16px;
}
.btn-panel{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
}
.btn-panel .btn{
    -webkit-tap-highlight-color:transparent;
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    color: #fff;
    background-color: #409eff;
    border-color: #409eff;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
}
.btn-panel .btn:focus, .btn-panel .btn:hover {
    background: #66b1ff;
    border-color: #66b1ff;
    color: #fff;
}